body {
    background-color: rgb(17, 17, 17);
    padding-bottom: 35px;
}

header {
    margin-left: 10px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;

    &:not([data-EPtitle]) {
        display: inline-block;
        border-bottom-style: solid;
    }
}

[data-BackButton] {
    scale: 1.2;
    background-color: rgb(214, 5, 5);
    border-style: none;
    color: white;
    border-radius: 20px;

    &:hover {
        scale: 1.1;
        background-color: rgb(165, 6, 6);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

iframe {
    border-style: none;
    border-radius: 20px;
    width: 800px;
    height: 450px;
    margin-top: 20px;

    &:fullscreen {
        border-radius: 0;
    }
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

section {
    margin-top: 20px;
}

label {
    color: white;
    margin-top: 10px;
}

img {
    width: 250;
    border-radius: 20px;

    &:hover {
        scale: 0.9;
        box-shadow: 0 0 40px rgb(250, 250, 250);
    }
}

[data-Clips] {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.clipList {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
    justify-content: center;
    gap: 20px;

    & > div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 432px) {
    iframe {
        width: 320px;
        height: 180px;
    }

    .clipList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5px;

        & > div {
            scale: 0.8;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    #clipText {
        scale: 0.9;
    }
}
